.wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.headerWrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    border-bottom: 4px solid #476072;
    background-color: #20262E;
    padding: 10px 10px 10px 10px;
}

.titleDiv {
    cursor: default;
    width: 100%;
    font-family: "Lora";
    font-size: 32px;
    color: #476072;
    font-weight: 700;
    text-align: center;
}

.app--table {
    font-family: "Lora";
    border-collapse: collapse;
    background-color: #F4F4F2;
    text-align: left;
    overflow: hidden;
}

.app--thead {
    color: #495464;
    background-color: #BBBFCA;
}

.app--tr {
    display: table-row;
    border-bottom: 1px solid #BBBFCA;
}

.app--th {
    padding: 1rem 2rem;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.1rem;
}

.app--th-date {
    font-size: 16px;
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-decoration: underline;
    cursor: pointer;
    user-select: none;
}

.app--td {
    color: #495464;
    padding: 1rem 2rem;
}

.app--td-buttton {
    width: 2%;
}

.app--tbody {
    display: table-row-group;
    vertical-align: middle;
}

tr:nth-child(even) {
    background-color: #E8E8E8;
}

.app--button-ship {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    color: #20262E;
    background-color: #39A2DB;
    border-color: #39A2DB;
}

.app--button-delete {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    color: #20262E;
    background-color: #DA0037;
    border-color: #DA0037;
}


.app--button-delete:hover {
    box-shadow: 0 0 4px 0px #DA0037;
}

.app--button-ship:hover {
    box-shadow: 0 0 4px 0px #39A2DB;
}